<article class='comment'>
	<div class="avatar-wrap">
  	<%= image_tag comment.avatar_url, :alt => comment.name, :class => 'avatar' %>
	</div>
	<div class="comment-wrap">
	  <%= simple_format auto_link(comment.message.to_s) %>
	  <footer class='comment-author'>
	    <p>
	      <%= t('by', :scope => 'refinery.blog.posts.comments', :who => comment.name) %>,
	      <%= t('time_ago', :scope => 'refinery.blog.posts.comments', :time => time_ago_in_words(comment.created_at)) %>
	    </p>
	  </footer>
	</div>
</article>
