%ul.follow-links
  %li
    %a{:href => refinery.blog_rss_feed_path, :target => "_blank"}
      %img{:alt => "Subscribe to RSS Feed", :src => "/assets/icons/rss.png"}

  %li
    %a{:href => "http://www.youtube.com/user/soomopublishing", :target => "_blank"}
      %img{:alt => "Youtube", :src => "/assets/icons/youtube.png"}

  %li
    %a{:href => twitter_link(@channel), :target => "_blank"}
      %img{:alt => "Twitter", :src => "/assets/icons/twitter.png"}

  %li
    %a{:href => "https://www.facebook.com/SoomoLearning", :target => "_blank"}
      %img{:alt => "Facebook", :src => "/assets/icons/facebook.png"}
